<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Secrets</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'dojoSecrets/secrets.css' %}">
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <a href="/"><img id="dojo" src="/static/dojoSecrets/dojo.png" alt="coding dojo icon"></a>
                <div id="topRight">
                    <h2>Welcome, {{ request.session.name }}!</h2>
                    <form id="logoff" action="/logoff" method="post">
                        {% csrf_token %}
                        <input id="logoffButton" type="submit" name="logoff" value="Log Out">
                    </form>
                </div> <!-- topRight -->
            </div> <!-- header -->
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
            <a href="/secrets">Go back</a>
            <h1>Most Popular Secrets...</h1>
            {% for secret, liked, time in secrets %}
                {{ secret.info }}
                {% if time.days %}
                    {% if time.days > 2 %}
                        ({{ time.days }} days ago)
                    {% else %}
                        ({{ time.days }} day ago)
                    {% endif %}
                {% elif time.hours %}
                    {% if time.hours > 2 %}
                        ({{ time.hours }} hours ago)
                    {% else %}
                        ({{ time.hours }} hour ago)
                    {% endif %}
                {% elif time.minutes %}
                    {% if time.minutes > 2 %}
                        ({{ time.minutes }} minutes ago)
                    {% else %}
                        ({{ time.minutes }} minute ago)
                    {% endif %}
                {% else %}
                    (now)
                {% endif %}
                {{ secret.like_count }} likes
                {% if liked %}
                    - You liked this<br>
                {% else %}
                    <form action="/like/{{secret.id}}/{{request.session.id}}/recent" method="post">
                        {% csrf_token %}
                        <input class="like" type="submit" name="submit" value="Like">
                    </form>
                {% endif %}
                    {% if request.session.id ==  secret.user.id %}
                        <form action="/delete/{{secret.id}}/recent" method="post">
                            {% csrf_token %}
                            <input type="submit" name="submit" value="Delete">
                        </form>
                    {% endif %}
            {% endfor %}
        </div> <!-- wrapper -->
    </body>
</html>
