<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Secrets</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'dojoSecrets/secrets.css' %}">
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <a href="/"><img id="dojo" src="/static/dojoSecrets/dojo.png" alt="coding dojo icon"></a>
                <div id="topRight">
                    <h2>Welcome, {{ request.session.name }}!</h2>
                    <form id="logoff" action="/logoff" method="post">
                        {% csrf_token %}
                        <input id="logoffButton" type="submit" name="logoff" value="Log Out">
                    </form>
                </div> <!-- topRight -->
            </div> <!-- header -->
            <div id="content">
                <a href="/secrets">Go back</a>
                <h1>Most Popular Secrets...</h1>
                {% for secret, liked, time in secrets %}
                    <div class="secret_post">
                        {{ secret.info }}
                        {% if time.days %}
                            ({{ time.days }}
                            {% if time.days > 2 %}
                                 days ago)
                            {% else %}
                                 day ago)
                            {% endif %}
                        {% elif time.hours %}
                            ({{ time.hours }}
                            {% if time.hours > 2 %}
                                 hours ago)
                            {% else %}
                                 hour ago)
                            {% endif %}
                        {% elif time.minutes %}
                        ({{ time.minutes }}
                            {% if time.minutes > 2 %}
                                 minutes ago)
                            {% else %}
                                 minute ago)
                            {% endif %}
                        {% else %}
                            (now)
                        {% endif %}
                        {{ secret.like_count }}
                        {% if secret.like_count == 1 %}
                            like
                        {% else %}
                            likes
                        {% endif %}
                        {% if liked %}
                            - You liked this
                        {% else %}
                            <form class="button" action="/like/{{secret.id}}/{{request.session.id}}/popular" method="post">
                                {% csrf_token %}
                                <input type="submit" name="submit" value="Like">
                            </form>
                        {% endif %}
                            {% if request.session.id ==  secret.user.id %}
                                <form class="button" action="/delete/{{secret.id}}/popular" method="post">
                                    {% csrf_token %}
                                    <input type="submit" name="submit" value="Delete">
                                </form>
                            {% endif %}
                        </div>
                {% endfor %}
            </div>
        </div> <!-- wrapper -->
    </body>
</html>
